@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d398c;
  height: 100vh;
  width: 100%;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}
